**
!src/
!src/AnalysisServer/
!src/AnalysisServer/**
!src/Resona.Cloud.Server/
!src/Resona.Cloud.Server/**
!src/Resona.Core/
!src/Resona.Core/**
!models/
!models/Essentia/
!models/Essentia/**
src/AnalysisServer/.env
src/AnalysisServer/*.tar
Scripts/__pycache__/
